@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  
  --font-montserrat: "Montserrat", sans-serif;


  --heading1: 67px;
  --heading2: 50px;
  --heading3: 40px;
  --heading4: 28px;
  --heading5: 21px;
  

  /*Цвета*/
  --primary-color: #51C5F3;
  --secondary-color: #EDD4EC;

  --text-color1: #1F1A2B;
  --text-color2: #5A4E7C;
  --text-color3: #ffffff;
  --text-color4: rgba(142 138 163); 
  --textcolor5: #C5C2D6;

  --color-logo: #8555DB;

  --color-logo-default: #AA82F2;
  --color-logo-hoover: #8555DB;
  --color-logo-active: #7E36FF;
  --color-logo-disabled: #D0B6FF;

  --state-blue-default: #51C5F3;
  --state-blue-hoover: #3FB8EA;
  --state-blue-active: #2FA5D8;
  --state-blue-disabled: #BFE7F6;

  --state-orange-default: #F77603;
  --state-orange-hoover: #E66C00;
  --state-orange-active: #C75E00;
  --state-orange-disabled: #FFA85A;

  --background-gradient: url("../shared/assets/images/backgroundgradient.png");
  --hover-shadow-elevated: 0px 59px 23px rgba(74, 74, 74, 0.01), 0px 33px 20px rgba(74, 74, 74, 0.05), 0px 15px 15px rgba(74, 74, 74, 0.09), 0px 4px 8px rgba(74, 74, 74, 0.1);
  
}
/* использовать любую перменную в roote надо с помощью var()
 обращаешься по селектору к обьекту и в стиле прописывашь так: 
 стиль: var(имя переменной из рута);*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background-image: var(--background-gradient);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

[id] {
  scroll-margin-top: 90px;
}

