.main {
	display: flex;
	justify-content: center;
	align-items: center;
}

.loginWindow {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.leftPane {
	min-height: 100vh;
}

.heroImage {
  height: 100%;
  display: block;
}

.forms {
	border: 1px solid #000000;
	border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
	align-items: center;
  gap: 12px;
  width: 100%;
  max-width: 520px;
  padding: 40px 56px;
}

.title {
  font-size: var(--heading2);
	margin-bottom: 50px;
}

