.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}
.registrationWindow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--color-logo);
  max-width: 750px;
  width: 100%;
  padding: 48px 36px;
  border-radius: 16px;
	background-color: white;
}

.title {
  font-size: var(--heading2);
  margin-bottom: 3%;
  color: var(--color-logo);
}
.title3 {
  font-size: var(--heading4);
  margin-bottom: 32px;
}

.heroImage {
  width: 100%;
  max-width: 360px;
  height: auto;
  object-fit: contain;
  margin-bottom: 18px;
}

.hipoinfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.child,
.parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #000000;
  padding: 10px 60px;
  border-radius: 16px;
  margin-bottom: 32px;
  cursor: pointer;

  color: var(--text-color2);
}

.titleChild,
.titleParent {
  font-size: var(--heading5);
  display: flex;
  justify-content: center;
}

.forms {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  max-width: 450px;
  justify-content: center;
  align-items: center;
  color: var(--text-color2);
}

@media (max-width: 760px) {
  .registrationWindow {
    padding: 32px 18px;
  }

  .heroImage {
    max-width: 280px;
    margin-bottom: 14px;
  }
}

